[submodule "vimfiles/snippets"]
	path = vimfiles/snippets
	url = git://github.com/casualjim/snipmate-snippets.git

[submodule "emacs.d"]
	path = emacs.d
	url = http://github.com/casualjim/emacs-starter-kit.git
[submodule "vim-addons/vim-addon-manager"]
	path = vim-addons/vim-addon-manager
	url = git://github.com/MarcWeber/vim-addon-manager.git
