[submodule "vimfiles/snippets"]
	path = vimfiles/snippets
	url = git://github.com/casualjim/snipmate-snippets.git
[submodule "vimreboot/bundle/vundle"]
	path = vimreboot/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
